@define-color nautilus_cluebar_color @theme_selected_bg_color;

/****************
 * Applications *
 ****************/

/* Abiword, Eye of GNOME, Cheese */

ApDocView,
EogScrollView,
CheeseThumbView {
  background-color: @chrome_bg_color;
  -EogScrollView-shadow-type: none;
}

/* gnome-terminal */

TerminalScreen {
  background-color: @theme_base_color;
  -TerminalScreen-background-darkness: .95;
  color: @theme_fg_color;
}

/* nautilus */

.nautilus-canvas-item {
  border-radius: 0;
}

.nautilus-desktop.nautilus-canvas-item {
  color: @theme_bg_color;
  text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
  color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
  text-shadow: none;
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
  background-color: @nautilus_cluebar_color;
  border-color: darker (@nautilus_cluebar_color);
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0;
}

NautilusSearchBar .entry {
  border-color: @nautilus_cluebar_color;
  border-image: none;
  -GtkEntry-inner-border: 3px;
}

NautilusSearchBar .entry.image {
  color: @nautilus_cluebar_color;
}

.nautilus-cluebar-label {
  color: @theme_base_color;
  font: bold;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
  color: darker (@nautilus_cluebar_color);
}

NautilusFloatingBar {
  background-image: -gtk-gradient (linear, left top, left bottom, from (shade (@notebook_tab_gradient_a, .97)), to (shade (@notebook_tab_gradient_b, .9)));
  border-color: shade (@notebook_tab_gradient_b, .8);
  border-radius: 3px 3px 0 0;
  border-style: solid;
  border-width: 1px;
}

NautilusFloatingBar .button {
  background-color: alpha (@theme_base_color, 0);
  background-image: none;
  border-image: none;
  border-style: none;
  -GtkButton-image-spacing: 0;
  -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .frame {
  border-color: shade (@theme_bg_color, .66);
  border-radius: 0;
  border-style: solid;
  border-width: 0;
}

NautilusWindow > GtkTable > .pane-separator {
  border-color: shade (@theme_bg_color, .66);
  border-style: solid;
  border-width: 1px 1px 0 0;
}

/*********
 * gedit *
 *********/

GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: shade(@theme_bg_color, .8);
  background-color: @theme_bg_color;
  color: shade(@theme_bg_color, .8);
}

.gedit-document-panel {
  background-color: @theme_bg_color;
  color: mix(@theme_fg_color, @theme_bg_color, .1);
}

.gedit-document-panel-group-row,
.gedit-document-panel-group-row:hover {
  border-top: 1px solid shade(@theme_bg_color, .9);
  background-color: @theme_bg_color;
}

.gedit-document-panel-document-row:hover {
  background-color: shade(@theme_bg_color, 1.05);
}

.gedit-document-panel-document-row:selected,
.gedit-document-panel-document-row:selected:hover {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.gedit-document-panel .list-row {
  padding: 4px;
}

.gedit-document-panel .list-row .button {
  padding: 1px;
  border-image: none;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  background-color: transparent;
  background-image: none;
  color: transparent;
  icon-shadow: none;
}

.gedit-document-panel .prelight-row .button {
  border-color: alpha(black, .1);
  color: alpha(white, .8);
}

.gedit-document-panel .list-row .button:hover,
.gedit-document-panel .prelight-row .button:hover {
  border-color: alpha(black, .1);
  color: white;
}

.gedit-document-panel .prelight-row .button:active {
  border-color: alpha(black, .2);
  background-color: alpha(black, .08);
  color: white;
}

.gedit-document-panel-dragged-row {
  border: 1px solid alpha(black, .1);
  background-color: alpha(black, .5);
  color: white;
}

.gedit-document-panel-placeholder-row {
  border: none;
  background-color: alpha(black, .08);
  transition: all 200ms ease-in;
}

GeditStatusbar {
  border-top: 1px solid shade(@theme_bg_color, .8);
}

GeditStatusbar GeditSmallButton,
GeditStatusMenuButton {
  text-shadow: none;
}

GeditStatusbar GeditSmallButton.button,
GeditStatusbar GeditSmallButton.button:hover,
GeditStatusbar GeditSmallButton.button:active,
GeditStatusbar GeditSmallButton.button:active:hover,
GeditStatusMenuButton.button,
GeditStatusMenuButton.button:hover,
GeditStatusMenuButton.button:active,
GeditStatusMenuButton.button:active:hover {
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  border-radius: 0;
  padding: 1px 6px 2px 4px;
}

GeditStatusbar GeditSmallButton.button:hover,
GeditStatusbar GeditSmallButton.button:active,
GeditStatusbar GeditSmallButton.button:active:hover,
GeditStatusMenuButton.button:hover,
GeditStatusMenuButton.button:active,
GeditStatusMenuButton.button:active:hover {
  border-color: shade(@theme_bg_color, .8);
}

GeditStatusbar GeditSmallButton.button:active,
GeditStatusMenuButton.button:active {
  background-color: shade(@theme_bg_color, .95);
  color: @theme_fg_color;
}

GeditViewFrame .gedit-search-slider {
  padding: 4px;
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: shade(@theme_base_color, .8);
  background-color: @theme_base_color;
}

GeditViewFrame .gedit-search-slider .not-found {
  background-color: @error_bg_color;
  background-image: none;
  color: @error_fg_color;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

GeditFileBrowserWidget .toolbar {
  padding: 2px;
  border-top: none;
  background-color: @theme_bg_color;
  background-image: none;
}

.gedit-search-entry-occurrences-tag {
  margin: 2px;
  padding: 2px;
  color: mix(@theme_text_color, @theme_base_color, .5);
}
