/* Header bars */

.header-bar .button.text-button {
  padding: 2px 6px;
}

.header-bar .button.image-button {
  padding: 5px 4px 5px 5px;
}

/*********************************
 * CSD (Client Side Decorations) *
 *********************************/

.titlebar,
.titlebar:backdrop,
.titlebar.header-bar,
.titlebar.header-bar:backdrop {
  background-color: @chrome_bg_color;
  background-image: none;
  border-radius: 0;
  color: @chrome_fg_color;
  padding: 0 10px 0 10px;
}

.header-bar .title,
.header-bar .title:backdrop,
.titlebar.header-bar .title,
.titlebar.header-bar .title:backdrop,
.titlebar .title,
.titlebar .title:backdrop {
  font: bold;
}

.header-bar .subtitle,
.header-bar .subtitle:backdrop,
.titlebar.header-bar .subtitle,
.titlebar.header-bar .subtitle:backdrop {
  font-size: smaller;
  opacity: .5;
}

.tiled .titlebar,
.tiled .titlebar:backdrop {
  border-radius: 0;
}

.maximized .titlebar,
.maximized .titlebar:backdrop {
  border: none;
  border-radius: 0;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */

.titlebar {
  border: 1px solid @base_color;
  border-bottom: 0;
}

.geary-titlebar-left {
  border-right: 0;
}

.geary-titlebar-right {
  border-left: 0;
}

.titlebar.default-decoration,
.titlebar.default-decoration:backdrop {
  border: 1px solid @base_color;
  box-shadow: none;
}

.titlebar .titlebutton,
.titlebar .titlebutton:backdrop,
.header-bar .button,
.header-bar .button:backdrop {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: none;
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:backdrop,
.header-bar .button:active,
.header-bar .button:active:backdrop {
  color: @selected_bg_color;
}

.titlebar .titlebutton:backdrop,
.header-bar .button:backdrop {
  icon-shadow: none;
}

.window-frame,
.window-frame:backdrop {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.window-frame.tiled,
.window-frame.tiled:backdrop {
  border-radius: 0;
}

/************
 * popover  *
 ************/

GtkPopover,
.header-bar .menu,
.header-bar .primary-toolbar .menu {
  color: @menu_fg_color;
  background-clip: border-box;
  background-color: @menu_bg_color;
  background-image: none;
  border-radius: none;
  border-color: shade(@menu_bg_color, .8);
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 10px alpha(black, .5);
  margin: 10px;
  padding: 2px;
}

GtkPopover.background,
GtkPopover.background:backdrop {
  background-color: @menu_bg_color;
  background-image: none;
}

GtkPopover:backdrop {
  background-color: @menu_bg_color;
  background-image: none;
}

GtkPopover .separator {
  background-color: transparent;
  border: 0;
  color: alpha(currentColor, .1);
  font-size: 80%;
  font-weight: bold;
}

/* Popover menuitems are actually buttons. The following rules reset most of
 * the button styles for them.
 */

GtkPopover .menuitem,
GtkPopover .menuitem:backdrop {
  background: transparent;
  border: none;
  border-image: none;
  border-radius: none;
  color: @menu_text_color;
  text-shadow: none;
}

GtkPopover .menuitem:hover,
GtkPopover .menuitem:backdrop:hover {
  background-color: @dark_bg_color;
  color: @menu_text_color;
}

GtkPopover .menuitem:active,
GtkPopover .menuitem:backdrop:active {
  background-color: @silver;
  color: @menu_text_color;
}

GtkPopover .menuitem:insensitive,
GtkPopover .menuitem:backdrop:insensitive {
  background-color: transparent;
  border: none;
  border-image: none;
  color: mix (@menu_fg_color, @menu_bg_color, .6);
}

GtkPopover .menuitem:active,
GtkPopover .menuitem.check,
GtkPopover .menuitem.check:active,
GtkPopover .menuitem.radio,
GtkPopover .menuitem.radio:active {
  border: none;
}

GtkPopover .menuitem:insensitive,
GtkPopover .menuitem *:insensitive {
  text-shadow: none;
}

GtkPopover.osd {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-shadow: none;
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
  background-color: transparent;
  background-image: none;
}

GtkPopover .list-row {
  border: none;
  text-shadow: none;
}

GtkPopover .list-row:hover {
  border: none;
  text-shadow: none;
}

GtkPopover .frame {
  border: none;
  text-shadow: none;
}

GtkPopover .entry {
  border: none;
  text-shadow: none;
}

GtkPopover .entry:hover,
GtkPopover .entry:focus,
GtkPopover .entry:active {
  border: none;
  text-shadow: none;
}

GtkPopover.osd > .toolbar .button {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border-width: 0;
}
